h2 {
  font-weight: 150;
  letter-spacing: 1px;
}

.chats-header {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px solid black;
}

.chats-header button {
  background-color: unset;
  border: unset;
}

.chats-header button:hover{
  cursor: pointer;
}

.chats-header svg {
  width: 30px;
  height: 30px;
}

.visible {
  width: 100%;
  padding: 0 10px;
  height: 130px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.not-visible  {
  display: none;
}

.chats main button {
  background-color: white;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.chats main button:hover {
  cursor: pointer;
}

.chats main button img, .chats main button svg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

@media screen and (min-width: 650px) { 
  .chats {
    height: calc(100% - 60px)
  }
  
  .not-visible  {
    width: 100%;
    padding: 0 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .not-visible, .visible {
    height: calc(100% - 35px);
  }

  .not-visible button, .visible button {
    font-size: 18px;
  }

  .chats main button img {
    width: 40px;
    height: 40px;
  }

  .not-visible::-webkit-scrollbar, .visible::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  .not-visible::-webkit-scrollbar-track, .visible::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  .not-visible::-webkit-scrollbar-thumb, .visible::-webkit-scrollbar-thumb {
    background-color: grey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid grey;  /* creates padding around scroll thumb */
  }
}